* {
  font-family: "Times New Roman", Times, serif;
}
body {
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgba(118, 194, 36, 0.374),
    rgba(105, 25, 5, 0.5)
  );
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text h1 {
  color: black;
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 10px 50px 20px rgba(216, 155, 140, 0.3);
}
.main-text p {
  font-size: 25px;
  color: rgb(2, 2, 17);
  margin-bottom: 50px;
}
.main-text button {
  width: 150px;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgba(44, 43, 41, 0.868);
  color: rgb(230, 230, 250);
  transition: transform 0.3s linear alternate;
}
.main-text button:hover {
  background-color: rgb(94, 57, 108);
  color: #000000;
  transform: scale(1.3) translateY(-10px);
}
