* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #81a3c4;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  margin-left: rem;
  font-style: italic;
  margin: 0;
}

nav {
  margin-right: 20px;
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 20px;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s linear;
  font-weight: 500;
}

.menu-links a:hover {
  color: #011201;
  transform: translateY(-15px);
}
.menu-links a:active {
  color: orange;
}
#about {
  background-color: rgb(167, 139, 105);
  padding: 100px 20px;
}

.about-intro {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

  opacity: 0;
  transform: translateY(40px);
  animation: aboutFadeUp 0.9s ease forwards;
}

.profile-pic {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--accent);
  flex-shrink: 0;
}

.about-text h2 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 1.2rem;
  color: #475569;
  margin-bottom: 20px;
}

.about-text p {
  max-width: 600px;
  font-size: 1.05rem;
  margin-bottom: 25px;
}
.btn {
  display: inline-block;
  background-color: yellowgreen;
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2563eb;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(59, 130, 246, 0.4);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 5px 12px rgba(59, 130, 246, 0.3);
}

.skills {
  margin-top: 60px;
}

.skills h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #011201;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.skills li {
  background-color: #f1f5f9;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 0.95rem;
  transition: 0.3s ease;
}

.skills li:hover {
  background-color: var(--accent);
  color: white;
}

@keyframes aboutFadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#work {
  margin-top: 300px;
  padding: 50px 0;
}
.container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 45px;
  margin-top: 50px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  flex: 1 1 300px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(207, 20, 20, 0.5);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(33, 221, 52, 0.2);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-card h3 {
  color: #4caf50;
  margin-bottom: 10px;
}

.project-card a {
  color: #333;
  text-decoration: underline;
  font-weight: 800;
  margin-left: 80px;
}

.project-card a:hover {
  color: #4caf50;
}

#services {
  background-color: var(--secondary);
  padding: 80px 20px;
  color: white;
  text-align: center;
  height: 100vh;
}

#services ul {
  list-style: none;
  margin-top: 40px;
  padding: 0;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

#services li {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 500;

  opacity: 0.85;
  transform: translateY(25px);
  transition: all 0.4s ease;
  cursor: pointer;
}

#services li:hover {
  opacity: 1;
  transform: translateY(0);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 12px 25px rgba(59, 130, 246, 0.35);
}

#contact {
  background-color: rgb(64, 108, 108);
  color: white;
  padding: 80px 20px;
  text-align: center;
  height: 100vh;
}

#contact .container {
  max-width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 16px;
  margin-top: 100px;

  opacity: 0;
  transform: translateY(30px);
  animation: contactFadeUp 0.8s ease forwards;
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#contact address {
  font-style: normal;
  font-size: 1.1rem;
}

#contact a {
  color: #032704;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

#contact a:hover {
  color: #0d70e9;
  text-decoration: underline;
}

@keyframes contactFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: sticky;
  bottom: 0;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  header .logo h1 {
    margin-bottom: 0px;
    font-size: 1.8rem;
    text-align: center;
  }

  .menu-links {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    font-size: 16px;
    text-align: center;
  }

  .menu-links li {
    margin: 0;
  }

  .menu-links a {
    display: block;
    padding: 0px 0;
    transition: transform 0.2s ease-in-out;
  }

  .menu-links a:hover {
    transform: translateY(-2px);
  }
}
@media (max-width: 768px) {
  #about {
    padding: 30px 15px;
  }

  .about-intro {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    width: 150px;
    margin-bottom: 15px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text h3 {
    font-size: 22px;
    margin-left: 0;
  }

  .about-text p {
    font-size: 16px;
  }

  .btn {
    margin: 20px auto 0; /* center button */
    display: inline-block;
  }
}
@media (max-width: 768px) {
  #about {
    padding: 30px 15px;
  }

  .about-intro {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    width: 150px;
    margin-bottom: 15px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text h3 {
    font-size: 22px;
    margin-left: 0;
  }

  .about-text p {
    font-size: 16px;
  }

  .btn {
    margin: 20px auto 0; /* center button */
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .skills {
    margin: 30px 15px;
    font-size: 18px;
  }

  .skills ul {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  #work {
    margin-top: 80px;
    padding: 30px 15px;
  }

  .container h2 {
    font-size: 32px;
  }

  .projects {
    flex-direction: column;
  }

  .project-card a {
    margin-left: 0;
    display: block;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #services {
    margin: 60px 15px;
    padding: 30px 20px;
    flex-direction: column;
    text-align: center;
  }

  #services li {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #contact {
    padding: 30px 15px;
  }

  #contact .container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  #contact address {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 14px;
    padding: 10px;
  }
}
